.box{
    width: 60%;
    background: var(--noir-cesi);
    color: #fff;
    padding: 0 1%;
    border-radius: 5px;
    margin: 50px auto;
}

.content{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 50px 0 0;
}

input, #name_material{
    width: 80%;
}



.box input[type="text"], #name_material
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: white;
    /* color: var(--jaune-cesi); */
    font-size: 16px;
}

.box input[type="file"]{
    margin: 30px 0 0;
    color: #fff;
    text-align: justify;
}

.box input{
    margin: 0px 0 15px 0;
}

#name_material{
    display: flex;
    border: none;
    /* justify-content: center; */
    align-items: center;
}

.value{color: #fff;}



.list-color{
    margin: 20px 70px;
}

.list-color .point-color{
    color: #fff;
    padding: 5px;
    list-style-type: circle;
}

.croix{
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    transition: .5s;
}

.croix:hover{
    background-color: var(--jaune-cesi);
}

.bouton{
    border: none;
    border: 1px solid var(--jaune-cesi);
    outline: none;
    padding: 12px 8px;
    margin: 0 20px;
    background-color: transparent ;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;

    transition: background .5s;
}

.bouton:hover{
    background-color: var(--jaune-cesi);
    color: #fff;
}


.btn-suppr{
    border: none;
    outline: none;
    background-color: transparent;
 }


.add-prod{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    flex-direction: column;
    position: fixed;
    bottom: 10%;
    right: 20px;
}

.add-prod span{
    font-size: 12px;
    text-align: center;
}

.plus{
    border-radius: 50%;
}

.plus img{
    margin: 0 20px;
    width: 40px;
}

.croix{
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;

}
.btn-suppr{
    border: none;
    outline: none;
    background-color: transparent;
 }

/* RESPONSIVE */
@media screen and (max-width: 1200px){
    .content{
        grid-template-columns: 100%;
    }

    .box{
        width: 40%;
    }
}

@media screen and (max-width: 800px){
    .box{
        width: 60%;
    }
}

@media screen and (max-width: 470px){
    .add-prod{
        right: 5px;
    }
}
