/* Conteneur fiche technique */
.prod-content{
    /* width: 100%;
    height: calc(100vh - 60px); */
    margin: 100px 0;
    display: grid;
    grid-template-columns: 30% 70%;
}

/* Image à gauche */
.prod-fiche-left{
    margin: auto;
    /* height: 800px; */
    /* min-width: 550px; */
}

.prod-fiche-left img{
    height: 100%;
    width: 100%;
}


/* Texte à droite */
.prod-fiche-right{
    margin: auto 100px;
}

/* Nom Produit */
.prod-fiche-title{
    margin: 0 0 60px 0;
}

.prod-fiche-title h3{
    color: var(--jaune-cesi);
    font-size: 70px;
    text-align: center;
}

/* Description */
.prod-fiche-descr{
    margin: 35px auto;
    width: 60%;
}

.prod-fiche-descr p{
    font-size: 20px;
    text-align: justify;
}

/* formulaire couleur-quantité-ajouter au panier */
form{
    margin: 50px 0;
}

/* couleur-qt */
.prod-fiche-detail{
    display: flex;
    justify-content: space-around;
}

/* Select box design */
select{
    padding: 8px 12px;
    color: var(--noir-cesi);
    font-size: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--jaune-cesi);
    border-radius: 5px;
    transition: .6s;
    cursor: pointer;
}

select:focus,
select:hover{
    outline: none;
    border: 1px solid var(--jaune-cesi);
    background-color: var(--jaune-cesi);
}

select option {
    color: white;
    background-color: var(--noir-cesi);
}


.price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0;
}

/* Bouton design */
.prod-fiche-addcart{
    display: flex;
    justify-content: center;
    margin: 50px 0 0;
}

button{
    background-color: transparent;
    color: var(--noir-cesi);
    width: 240px;
    height: 80px;
    border: 1px solid var(--jaune-cesi);
    font-size: 20px;
    border-radius: 5px;
    transition: .6s;
    overflow: hidden;
}

button:focus{
    outline: none;
}

button:hover{
    background: var(--jaune-cesi);
    cursor: pointer;
}
