.container{
    margin: 50px auto 0;
    width: 80%;
}

.row{
    display: grid;
    grid-template-columns: 50% 50%;
}

.product-grid{
    height: 400px;
    width: 80%;
    min-width: 150px;
    margin: 50px auto;
    background-color: #fdfdfd;
    border: 1px solid var(--noir-cesi);
    border-radius: 5px;
}

.product-image{
    /* background-image: url("../storage/image/visiere2.jpg"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80%;

    transition: 0.5s;
}

.name-product{
    display: inline-block;
    position: relative;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;

    background-color: var(--jaune-cesi);
    padding: 10px;
}
/* .product-image:hover{
    background-image: url("../storage/image/visiere3.png");
} */


.link-prod{
    height: 20%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}


/* <a> comme un bouton */
.discover{
    text-decoration: none;
    padding: 15px 30px;
    border: 1px solid var(--jaune-cesi);
    border-radius: 5px;
    transition: .6s;
}

.discover:hover{
    background-color: var(--jaune-cesi);
}



/* Responsive */

@media screen and (max-width: 800px) {
    .row{
        display: grid;
        grid-template-columns: 100%;
    }
}