.container{
    margin: 50px auto 0;
    width: 80%;
}

.row{
    display: grid;
    grid-template-columns: 50% 50%;
}

.product-grid{
    height: 400px;
    width: 80%;
    min-width: 150px;
    margin: 50px auto;
    background-color: #fdfdfd;
    border: 1px solid var(--noir-cesi);
    border-radius: 5px;
}

.product-image{
    /* background-image: url("../storage/image/visiere2.jpg"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80%;

    transition: 0.5s;
}

.name-product{
    display: inline-block;
    position: relative;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;

    background-color: var(--jaune-cesi);
    padding: 10px;
}
/* .product-image:hover{
    background-image: url("../storage/image/visiere3.png");
} */


.link-prod{
    height: 20%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}

.dot-stock{
    margin-right: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.green-dot{
    background-color: green;
    color: green;
    box-shadow: 0 0 3px green, 0 0 6px green, 0 0 12px green;
}

.orange-dot{
    background-color: orange;
    color: orange;
    box-shadow: 0 0 3px orange, 0 0 6px orange, 0 0 12px orange;
}

.red-dot{
    background-color: red;
    color: red;
    box-shadow: 0 0 3px red, 0 0 6px red, 0 0 12px red;
}


/* <a> comme un bouton */
.discover{
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid var(--jaune-cesi);
    border-radius: 5px;
    transition: .6s;
}

.discover:hover{
    background-color: var(--jaune-cesi);
}



/* Responsive */

@media screen and (max-width: 800px) {
    .row{
        display: grid;
        grid-template-columns: 100%;
    }
}