@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    color: var(--noir-cesi)
}

:root{
    --jaune-cesi: rgba(255, 200, 69, 1);
    --noir-cesi: rgba(39, 37, 31, 1);
    --blanc: #f8f8f8;
}

body{
    background-image: url("../image/bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;

    background-color: rgba(255, 255, 255, 0.5);
    min-height: 100vh;
    /* background-position: center; */
}

.lign-grid{
    display: grid;
    height: 100%;
    grid-template-rows: 20% 50% 30%;
}

.center_logo{
    margin-top: 50px;
    text-align: center;
}

.logo{
    margin: auto;
    width: 300px;
    height: 70px;
}

.nav-footer{
    background-color: var(--noir-cesi);
    display: grid;
    grid-template-columns: 55% 45%;
    justify-content: center;
    align-items: center;
}

.nav-footer .right-part a, .nav-footer .left-part a{
    font-size: 15px;
    color: var(--blanc);
}

.nav-footer .right-part a:hover, .nav-footer .left-part a:hover{
    color: var(--jaune-cesi);
}

.left-part{
    border-right: 2px solid #eee;
}


.navbar{
    display: grid;
    grid-template-columns: 20% 70% 10%;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}

.menu i{
    font-size: 24px;
    margin-left: 50px;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fdfbfd; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-right: .5px solid #dadada;
}
  
  /* The navigation menu links */
.sidenav a {
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #919191;
    display: block;
    transition: 0.3s;
}
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: var(--noir-cesi);
}
  
  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.nav-auth a, .nav-auth span{
    color: var(--noir-cesi);
    /* font-weight: 600; */
    font-size: 18px;
    text-decoration: none;
}

.connected{
    margin: 20px 0 0;
    display: grid;
    grid-template-rows: 40% 60%;
    height: 100%;
    justify-content: center
}

.logout{
    margin: 0 0 0 10px;
    text-decoration: none;
    color: var(--jaune-cesi);
    font-weight: 900;
}

.cart{
    text-align: right;
    padding: 0 20px;
}
.cart i{font-size: 32px;}

/* main{

} */

main h1{
    margin-top: 30px;
    text-align: center;
    font-size: 80px;
    color: var(--jaune-cesi);
}